@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root { /* P/ usar a varivel: var(--bg-gray); */
    --bg-gray: #ddd;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-gray: #4A4A4A;
    --text-light-gray: #AAAAAA;
    --starYellow: #FFBB3A;
    --text-outro-gray: #989898;

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

h1, h2, h3, h4, h5, h5 {
    margin: 0;
}

html, body {
    background-color: var(--bg-gray); 
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}
/*Seleciona classe com ponto (.)*/
.jfmovie-contact-container {
    display: flex;
    align-items: center;

}

.jfmovie-contact-container img {
    margin-right: 10px;
}

/* Para id é # hashtag */
#jfmovie-card-list {
    padding: 0px 10px; /*espaçamento interno*/
}

.jfmovie-card{
    width: 100%;

}

.jfmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.jfmovie-card-description {    
    border-radius: 0 0 8px 8px;   
    background-color: var(--white);
    padding: 10px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 187.23px;   
}

.jfmovie-card-description h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.jfmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jfmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--starYellow);
}

.jfmovie-card-description-bottom p {
    color: var(--text-outro-gray);
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

.jfmovie-card-description-bottom img {
    width: 22px;
}

.jfmovie-btn, .dsmovie-btn:hover {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 180px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.jfmovie-form-container {
    padding: 40px 0;
    max-width: 480px;
}

.jfmovie-form-description {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.jfmovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.jfmovie-form {
    width: 100%;
}

.jfmovie-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.jfmovie-form-group {
    margin-bottom: 20px;
}

.jfmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.jfmovie-pagination-container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    
}

.jfmovie-pagination-box {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}

.jfmovie-pagination-box p {
    margin: 0;
    font-size: 12px;
    color: var(--color-primary);
    font-weight: 400;
}

.jfmovie-pagination-box button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.jfmovie-pagination-box button img {
  filter: invert(22%) sepia(34%) saturate(100%) hue-rotate(232deg) brightness(20%) contrast(89%);  
}



.jfmovie-pagination-box button:disabled {
    border: 1px solid var(--text-light-gray);
}

.jfmovie-pagination-box button:disabled img {
    filter: unset;
}


.jfmovie-flip-horizontal {
    transform: rotate(180deg);
}